#with-bg{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace; 
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

#without-bg{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffe7cc;
}

header {
    background: rgba(0,0,0,0.7);
    text-align: center;
    padding: 20px 0 20px 0;
}

#logo { 
    width: 250px;
    display: inline-block;
    margin-left: 380px;
}

.navigation {
    width: 350px;
    float: right;
}

#tabs li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 20px;
    font-size: 15px;
}

#tabs li a {
    color: #ffe7cc;
    text-decoration: none;
}

section{
    display: flex;
}

.dash-small{
    width: 50px;
    height: 1px;
    background-color: black;
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;
}

#h1-about{
    text-align:center;
    padding-top: 50px;
    padding-bottom: 25px;
}

#pic-derek{
    padding-top: 25px;
    padding-bottom: 25px;
    height:350px;
    width: 250px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#first-para-about{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#second-para-about{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#h1-collection {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 25px;
}

#flex article{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

#flex article p{
    display: inline-block;
    text-align: center;
    
}

.item1{ 
    height: 700px;
    width: 500px;
    margin:auto;
}

.item2{ 
    height: 700px;
    width: 500px;
    margin: auto;
}

.item3{ 
    height: 700px;
    width: 500px;
    margin:auto;
}


#click-box{
    background-color: rgba(255,231,204,0.9);
    color: black;
    font-style: normal;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: 12px 20px;
    text-decoration: none;
    text-align: justify;
    margin-left: 40%;
    margin-top: 400px;
    position: fixed;
}

body #above-footer {
    bottom: 10px;
    background: rgba(0,0,0,0.77);
    text-align: center;
    padding: 20px 560px 50px 560px;
    position: fixed;
    width: 800px;

}

#above-footer #above-footer-text {
    color: #ffe7cc;
}

.signup button{
    background-color: #ffe7cc;
    margin-top: 25px;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    width: 100px;
    height: 28px;
}
.signup input{
    font-family: 'Courier New', Courier, monospace;
    border: none;
    margin: 0;
    width: 270px;
    height: 25px;
}

#index ul li{
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    color:#ffe7cc;
    margin-top: 25px;
}

#index {
    text-align: center;
    position: fixed;
    bottom:0;
    margin-left: 600px;
}

#collection ul li{
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    color:black;
    margin-top: 25px;
}

#collection {
    text-align: center;
    bottom:0;
}